@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base  {
	.container {
		background-color:#faece1
	}
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@font-face {
	font-family: "GreatVibes-Regular";
	font-style: normal;
	font-weight: 400;
	src: local("GreatVibes-Regular"),
  url("./fonts/GreatVibes-Regular.woff") format("woff");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
